#game-container {
    position: relative;
    width: 400px;
    height: 400px;
    border: 2px solid rgb(246, 149, 15);
  }
#title {
    font-size: 24px;
    margin-bottom: 10px;
  }

#target {
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: cover;
    cursor: pointer;
  }

#score {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }